/* profile image animation*/
@keyframes scaleIn {
    from {
        transform: translateX(-50%) scale(0);
        opacity: 0;
    }

    to {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}

.profile-pic-animate {
    animation: scaleIn 0.5s ease-out 0.4s forwards;
    transform: translateX(-50%) scale(0);
    opacity: 0;
}

/* Members Page */
.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
}

.text-muted-dark {
    color: #ccc !important;
}

.card-img-top {
    height: 160px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .card-img-top {
        height: 140px !important;
    }
}

/* Fixed Sidebar */
.fixed-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
}

/* Sidebar on small screens */
@media (max-width: 767.98px) {
    .fixed-sidebar {
        position: fixed;
        height: auto;
        width: 100%;
    }
}

/* Padding for content to avoid overlap */
.main-content {
    margin-left: 0;
    margin-top: 0;
}

@media (min-width: 768px) {
    .main-content {
        margin-left: 16.666667%;
    }
}